node_modules/
__pycache__/
*.py[cod]
.python-version
.venv/
venv/
.env
local.settings.generated.json
local.settings.json
npm-debug.log*

# Azurite local emulator data
__blobstorage__/
__queuestorage__/
__azurite_db_*.json
